<body class="index-body">
    <header class="header-nav">
        <div class="hero">
            <a href="/">
                <img class="logo-png" src="/assets/logo-title.png" alt="cat">
            </a>
        </div>
        <h1> <a href="/" class="logo-a">Cybercat Web Design</a> </h1>
        <nav class="nav-menu">
            <a href="/auth" class="toggle-login">Login</a>
            <a href="/auth" class="toggle-register">Register</a>
            <a href="/auth/logout">Logout</a>
        </nav>
        <div class="under-nav"></div>
    </header>